# fly.toml app configuration file generated for usi-big-project-nbxvma on 2026-01-21T16:45:32Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'usi-big-project-nbxvma'
primary_region = 'ams'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 2048
